body{
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    background-color: #FFFFFF;
  }
  #welcome
  {
   background-image: linear-gradient(#e342f5 0% ,#f542bc 50% , #5a42f5 100%)
  
  }
  img{
    width: 223px;
    height: 200px;
    border:10px solid;
     border-radius: 25px;
  }
  #bio{
    font-family: Merriweather, serif;
    padding: 20px;
    font-size: 18px;
  }
  .menu{
    list-style: none;
      font-family: cursive;
      float:right;
      top: 10px;
      right: 30px;
    cursor:pointer;
    color:black;
  }
  .links:hover {
      background-color:#F48FB1 ;
  }
  .links {
      float: left;
      color: #fff;
      padding-top: 5px;
      padding-left: 9px;
      padding-right: 9px;
      padding-bottom: 5px;
      font-family: fantasy;
      color:#42A5F5;
    font-size: 20px;
  }
  
  
  h1 {
      font-size: 30px;
      font-weight: 300;
      line-height: 1.2;
      font-family: monospace;
      font-family: 'Cinzel Decorative', cursive;
       font-position: absolute;
  }
  .line
  {
    height:6px;
    width: 100px;
    background-color:black;
    margin: 10px auto;
  }
  a{
    font-size:20px;
    font-weight:bold;
  }
  
  
  